@model PiesListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="float-right">@pie.Price.ToString()</h3>
                <h3>
                    <a href="">@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}

