@using System.Globalization
@model PiesListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.CurrentCategory</h1>
<div class="d-flex flex-wrap">
@foreach (var pie in Model.Pies)
{
    <div class="card m-5 d-flex ">
        <img src="@pie.ImageThumbnailUrl" alt="">
        <div class="card-body">
            <h3 class="float-right">@pie.Price.ToString("F2",CultureInfo.CurrentCulture)</h3>
            <h3 class="card-title">
                <a href="">@pie.Name</a>
            </h3>
            <p class="card-text">@pie.ShortDescription</p>
        </div>
    </div>
}
</div>